[Desktop Entry]
Name=Yall Cosmic
Comment=A Cosmic applet that allows posting to Nostr, Mastodon, and Bat once
Type=Application
Icon=com.github.pop-os.cosmic-app-template
Exec=yall-cosmic %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
