[Desktop Entry]
Name=Yall Cosmic
Comment=Post to Bluesky, Mastodon, Micro.Blog, and Nostr simultaneously
Type=Application
Icon=com.github.pop-os.yall-cosmic-applet
Exec=yall-cosmic
Terminal=false
StartupNotify=true
Categories=Network;Social;COSMIC
Keywords=social;post;bluesky;mastodon;nostr;microblog;COSMIC
MimeType=